body {
    text-align: center;
    background: url(../img/background.jpg);
    color: white;
    font-family: -webkit-pictograph;

}

a.button {
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 6px;
    color: white;
    background: #424242;
    text-decoration: none;
}

.button-container {
    margin-top: 16px;
}